{% extends "base.html" %}

{% block title %}Thông báo{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Thông báo</h1>
    <ul class="list-group">
        {% for notification in notifications %}
            <li class="list-group-item {{ 'list-group-item-info' if notification[3] == 'chuaDoc' else '' }}">
                <p>{{ notification[1] }} - {{ notification[2] }}</p>
                {% if notification[3] == 'chuaDoc' %}
                    <form method="post" action="{{ url_for('notification.mark_as_read', notification_id=notification[0]) }}">
                        <button type="submit" class="btn btn-sm btn-primary">Đánh dấu là đã đọc</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
