{% extends "base.html" %}

{% block title %}Danh sách nhà cung cấp{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Danh sách nhà cung cấp</h1>

    <ul class="list-group">
        {% for supplier in suppliers %}
            <li class="list-group-item">
                <a href="{{ url_for('supplier.supplier_detail', supplier_id=supplier.id) }}" class="h5">{{ supplier.tenNhaCungCap }}</a>
                <p><strong>Địa chỉ:</strong> {{ supplier.diaChi }}</p>
                <p><strong>Điện thoại:</strong> {{ supplier.soDienThoai }}</p>
                <p><strong>Email:</strong> {{ supplier.email }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
